<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Assignments From Engi1006 Spring Semester!</b>
    <br>
    <br>
    <br><b>Homework 1:</b>
    <br>   <b>A:</b> In this assignment we practiced writing pseudocode and creating an 
    algorithm for converting decimal to binary. We excercised basic algorithm and operations/logic skills
    <br>   <b>B:</b> First we worked on creating functions that we could call in our main function that executed and returned a text once an input was entered by the user. We made functions for counting letters in a string, determining if that number was odd or even, and printing each letter of a string. Next, we created sorting functions that had various purposes for altering and sorting through lists.
    <br>
    <br><b>Homework 2:</b>
    <br>   <b>A:</b> In this assignment, we practiced iterating through a selection sort, evaluating the efficiency of different algorithms with varying amounts of searches or list size values, and working with the time complexity of different algorithms.
    <br>   <b>B:</b> In this assignment, we employed the principles of writing functions, worked with simulations, utilized the plotting functions, and began the process of writing a machine learning program that we will further develop throughout the semester. 
    <br>
    <br><b>Homework 3:</b>
    <br>   <b>A:</b> In this assignment, we worked with writing functions that take inputs as lists but function as sets, we compared the time complexities of these functions if we were to use dictionaries instead. We also practiced writing recursive functions, like exponents, permutations, and palindromes.
    <br>   <b>B:</b> This assignment dealt with the usage of NumPy functions, particularly numpy arrays. The efficiency of manipulating lists and NumPy arrays was explored as matrices were created and iterated through. We also worked with creating and reading files, simulations, and plotting. We continued our progression of our machine learning program by adding a few more functions to manipulate, arrange, and separate our data.
    <br>
    <br><b>Homework 4:</b>
    <br>   <b>B:</b> In this assignment, we worked with object oriented programming. We were given code for a main function and classes that were missing code and had to fill in the missing information, which included writing functions and recognizing certain attributes. We also worked with plotting and math functions like random and mean.
    <br>
    <br><b>Homework 5:</b>
    <br>   <b>B:</b> In this assignment, we continued our work with our machine learning program designed for working with and classifying brain tumors. In this assignment, we worked with scikit-learn to plot correlations in our data, used pandas to work with our data as Dataframes (using functions like statistics analysis including skew and kurtosis). We worked with grouping our Dataframes to desired categories as well. Lastly, we used some scikit-learn classifier models to predict our data, as well as writing one of our own. 
    <br>
    <br><b>Midterm:</b>
    <br>   In this assignment, we worked with ppm files and how to manipulate them. We wrote functions that filtered out unwanted objects in a set of three images, flipped an image, or made the image black and white. A tester function was made to prompt the user to provide input ppm file or files and the desired name of their output ppm file. Main objectives/takeaways: working with files and arrays, opening/closing/writing files, writing functions, testers.
    <br>
    <br>
    <br>My favorite assignment of the semester was Homework 5. This assignment saw the coming together of a semester long project that felt to have very real world applications. It was very satisfying to see the entire machine learning program come together and properly analyze and illustrate our data, statistics, correlations, etc.. I am personally very interested in the field of oncology, particularly brain cancer, and hope to one day pursue a career in neuroengineering. It was very exciting to see the culmination of such an interesting project.
    </p>
    </body>
</html>

