<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Spring 2020:</b>
    </p>
    <h2>Classes:</h2>

    <table>
      <tr>
        <th>Class</th>
        <th>Professor</th>
        <th>Credits</th>
      </tr>
      <tr>
        <td>General Chemistry II</td>
        <td>Robert Beer</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Introduction to Electrical Engineering</td>
        <td>David Vallancourt</td>
        <td>3.5</td>
      </tr>
      <tr>
        <td>Introduction to Computing for Engineers and Applied Scientists</td>
        <td>Timothy Paine</td>
        <td>3</td>
      </tr>
      <tr>
        <td>University Writing: Contemporary Essays</td>
        <td>Julie Moon</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Physics II: Thermo, Elec</td>
        <td>Jeremey Dodd</td>
        <td>3.5</td>
      </tr>
    </table>
    <br>
    <br>
    <p>My favorite class this semester was Electrical Engineering. I had not had much experience with hands on circuits or the nitty-gritty of electronics, so it was very interesting to learn about the innerworkings of cellphones, speakers, microphones, amplifiers, etc.. It brought a very complex and somewhat microscopic world more to light and gave me very foundational insight to the electrical functions of our daily lives. My experiences in this Python class no doubt contributed to foundational understanding in that class as well, especially the topics on logic.
    <p>   


    </body>
</html>

