<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Olivia Hansen 
    <br>
    <br><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/c27.0.160.160a/p160x160/52486651_851246501887682_6296522098609225728_o.jpg?_nc_cat=106&_nc_sid=dbb9e7&_nc_ohc=i9NWPgNJV4cAX-dFGrQ&_nc_ht=scontent-lga3-1.xx&oh=f072eca399436ff73b012f809cf4ecda&oe=5EE3A434" 
    alt="Olivia Hansen Image" width="180" height="180"> 
    <br>
    <br>Freshman 
    <br>
    <br>Biomedical Engineering</p>
    <br>
    <br>
    <a href="/assignments">Visit Assignments Page</a>
    <a href="/classes">Visit Classes Page</a>
    <a href="https://www.netflix.com/browse">Visit My Favorite Website!</a>
    </body>
</html>

